{% extends "admin/layout.html" %}

{% block admin_content %}
{% include "admin/components/filters.html" %}

<div id="documents-content">
    {% if documents %}
        {% include "admin/components/document_table.html" %}
        {% include "admin/components/pagination.html" %}
    {% else %}
        {% set title = "No documents found" %}
        {% set message = "No documents match your current filters. Try adjusting your search criteria or upload a new document." %}
        {% set cta_text = "" %}
        {% set cta_url = "" %}
        {% include "admin/components/empty_state.html" %}
    {% endif %}
</div>
{% endblock %}
